<template>
  <div class="page" data-name="about">
    <div class="navbar">
      <div class="navbar-bg"></div>
      <div class="navbar-inner sliding">
        <div class="title">The Bar</div>
      </div>
    </div>
    <div class="page-content">
        <div class="card">
          <div class="card-header suggest-title">Our suggestion</div>
          <div class="card-content card-content-padding">
            <div class="card-header align-items-flex-end drink-icon" style="background-image: url(${randomDrink.strDrinkThumb});">
              <p class="no-margin suggest-text">${randomDrink.strDrink}</p>
            </div>
          </div>
          <div class="card-footer" id="suggestion-data"
            data-id="${randomDrink.idDrink}"
            data-name="${randomDrink.strDrink}"
            data-image="${randomDrink.strDrinkThumb}"
            data-glass="${randomDrink.strGlass}"
            data-alcoholic="${randomDrink.strAlcoholic}"
            data-category="${randomDrink.strCategory}"
            data-instructions="${randomDrink.strInstructions}"
            data-ingredients="${JSON.stringify(randomDrink.ingredients)}">
              <a href="#" class="link" @click=${addFavorite}><i class="fa-${randomDrink.favorite ? $h`solid` : $h`regular`} fa-heart" id="suggestion-fav"></i></a>
              <a href="/drink/${randomDrink.idDrink}/" class="link">Details</a>
          </div>
      </div>
      <div class="card">
        <div class="card-header">Your favorites</div>
        <div class="card-content">
          <div class="list media-list no-ios-edges" id="favorites-overview">
            ${favorites.length > 0 ? $h `
              <ul>
                ${favorites.map((favorite) => $h`
                  <li class="item-content" id="overview-favorite-${favorite.id}">
                    <div class="item-media">
                      <img src="${favorite.image}" width="44" />
                    </div>
                    <div class="item-inner">
                      <div class="item-title-row">
                        <div class="item-title"><a href="/drink/${favorite.id}/">${favorite.name}</a></div>
                      </div>
                      <div class="item-subtitle">${favorite.glass}</div>
                    </div>
                  </li>
                `)}
              </ul>
              ` : $h `
              <p class="padding-left">No favorite yet.</p>
            `}
          </div>
        </div>
        <div class="card-footer row">
          <button class="col button button-small button-round button-fill" @click=${showFavorites}>See all</button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  export default async (props) => {
    let storage = new LStorage();
    
    let randomDrink;
    randomDrink = await app.request.get('https://www.thecocktaildb.com/api/json/v1/1/random.php').then((res) => {
      let data = JSON.parse(res.data);
      randomDrink = data.drinks[0];

      let ingredients = [];
      for (i=1; i < 16; i++) {
        let ingredient = {
          name: randomDrink[`strIngredient${i}`],
          measure: randomDrink[`strMeasure${i}`]
        };
        
        if (ingredient.name == null || ingredient.name == "") {
          break;
        }

        ingredients.push(ingredient);
      }
      randomDrink.ingredients = ingredients;

      // Checking if the drink is already in favorites
      if (!storage.findById('favorites', randomDrink.idDrink)) {
        randomDrink.favorite = false;
      } else {
        randomDrink.favorite = true;
      }

      return randomDrink;
    });
    
    let favorites = storage.getView('favorites');

    const addFavorite = (self) => {
      addNewFavorite(self);
    }

    const showFavorites = (self) => {
      app.tab.show('#view-favorites');
    }

    return $render;
  }

</script>