<template>
  <div class="page" data-name="drink">
    <div class="navbar">
      <div class="navbar-bg"></div>
      <div class="navbar-inner sliding">
        <div class="left">
          <a href="#" class="link back">
            <i class="icon icon-back"></i>
            <span class="if-not-md">Back</span>
          </a>
        </div>
        <div class="title">${currentDrink.name}</div>
      </div>
    </div>
    <div class="page-content">
      <div class="card demo-card-header-pic">
        <div style="background-image:url(${currentDrink.image})"
          class="card-header align-items-flex-end drink-image"><p class="no-margin suggest-text">${currentDrink.name}</p></div>
        <div class="card-content card-content-padding">
          <p class="date padding-bottom">${currentDrink.category} ${currentDrink.alcoholic}</p>
          <div class="block block-strong">
            ${currentDrink.ingredients.map((ingredient) => $h`
              <div class="chip margin-right">
                <div class="chip-media"><img src="https://www.thecocktaildb.com/images/ingredients/${ingredient.name}-Small.png" /></div>
                <div class="chip-label"><b>${ingredient.name}</b> : ${ingredient.measure}</div>
              </div>
            `)}
          </div>
          <p class="padding-top">${currentDrink.instructions}</p>
        </div>
        <div class="card-footer" id="drink-data-${currentDrink.id}"
          data-id="${currentDrink.id}"
          data-name="${currentDrink.name}"
          data-image="${currentDrink.image}"
          data-glass="${currentDrink.glass}"
          data-alcoholic="${currentDrink.alcoholic}"
          data-category="${currentDrink.category}"
          data-instructions="${currentDrink.instructions}"
          data-ingredients="${JSON.stringify(currentDrink.ingredients)}">
          <a href="#" class="link" @click=${addFavorite}><i class="fa-${favorite ? $h`solid` : $h`regular`} fa-heart" id="drink-fav-${currentDrink.id}"></i></a>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  export default async (props, { $f7route }) => {
    let storage = new LStorage();

    let favorites = storage.getView('favorites');
    const drinkId = $f7route.params.id;
    let currentDrink;
    let favorite = false;
    favorites.forEach((drink) => {
      if (drink.id === drinkId) {
        currentDrink = drink;
        favorite = true;
      }
    });
    if (typeof currentDrink === "undefined") {
      currentDrink = await getDrinkById(drinkId);
    }

    const addFavorite = (self) => {
      addNewFavorite(self);
    }
    
    return $render;
  };
</script>
  