<div class="page" data-name="drinks">
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner sliding">
      <div class="title">Drinks menu</div>
      <div class="subnavbar">
        <form class="searchbar">
          <div class="searchbar-inner">
            <div class="searchbar-input-wrap">
              <input type="search" placeholder="Search" />
              <i class="searchbar-icon"></i>
              <span class="input-clear-button"></span>
            </div>
            <span class="searchbar-disable-button if-not-aurora">Cancel</span>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="page-content">
    <div class="card-content">
      <div class="list media-list no-ios-edges no-margin">
        <ul id="result-drinks"></ul>
      </div>
    </div>
  </div>
</div>
