<template>
  <div class="page" data-name="favorites">
    <div class="navbar">
      <div class="navbar-bg"></div>
      <div class="navbar-inner sliding">
        <div class="title">Favorites</div>
      </div>
    </div>
    <div class="page-content">
      <div class="list">
        <ul id="favorites-list">
          ${favorites.map((favorite) => $h`
            <li id="list-favorite-${favorite.id}">
              <a href="/drink/${favorite.id}/" class="item-link item-content">
                <div class="item-media">
                  <img src="${favorite.image}" width="44" />
                </div>
                <div class="item-inner">
                  <div class="item-title">
                    <div class="item-header">${favorite.glass}</div>${favorite.name}
                  </div>
                  <div class="item-after"></div>
                </div>
              </a>
            </li>
          `)}
        </ul>
      </div>
    </div>
  </div>
</template>
<script>
  export default (props) => {
    let favorites = storage.getView('favorites');

    return $render;
  }

</script>
